@import 'scroll';

// variables
$bk: #081534;

// mixins


html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

body {
  background-color: $bk;
  font-family: 'Source Code Pro', monospace;
}

section {
  margin-bottom: 40%;
}

.small-view {
  display: block;
}

.large-view {
  display: none;
}

.ityped-cursor {
  color: #fff;
}

.hideme {
  opacity: 0;
}

.gen-figure {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.gen-img {
  width: 100%;
  max-width: 368px;
  margin: 0 auto;
}

.mobi-header {
  color: #fff;
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 5%;
}

.xl {
  font-size: 2.75em;
}

.third-section h6 {
  text-align: center;
  color: #fff;
}

span.sassy {
  color: pink;
}

.eight-bit {
  font-family: Eight-bit, monospace;
  font-size: 1.5em;
}

@font-face {
  font-family: "Eight-bit";
  src: url('../Eight-bit.ttf') format('truetype');
}

footer {
  padding: 2%;

  .flex-container {
    display: flex;
    justify-content: space-around;

    a {
      color: #fff;
      font-size: 1em;
    }

    .github img {
      width: 5vw;
    }
  }
}

// no updog stamp
.updog-stamp {
  display: none !important;
}

@media screen and (min-width: 968px) {
  section {
    margin-top: 25%;
    margin-bottom: 25%;
    padding-left: 20%;
    padding-right: 20%;
  }

  section:first-of-type {
    margin-top: 15%;
  }

  section:last-of-type {
    margin-bottom: 20%;
  }

  .gen-header {
    color: #fff;
    text-align: center;
    font-size: 52px;
  }

  .small-view {
    display: none;
  }

  .large-view {
    display: block;
  }

  .gen-figure {
    width: 15vw;
  }

  .windsor-img {
    transition: border-bottom .25s, padding-bottom .25s;
  }

  .windsor-img:hover {
    border-bottom: 10px solid red;
    padding-bottom: 8%;
    cursor: pointer;
  }

  .eight-bit {
    font-size:70px;
  }

  footer .flex-container a {
    font-size: 1.5em;
  }

}

// lightspeed
